nav a{
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #000000;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-color: 007BFF;
}

.secicon{
    text-align: center;
}

.colico{
    color: #ffffff;
}